*{
    margin: 0;
    padding: 0;
}
h1,h2{
    color: blue;
    text-align: center;
    /* margin-top: 1rem; */
    padding: 1rem 0;
}
img{
    width: 50%;
    margin-left: 25%;
    padding-top: 3rem;
}
.tableDiv{
    width: 50%;
    margin-left: 25%;
}
#formDiv{
    width: 50%;
    margin-left: 25%;
    /* border: 2px crimson; */
    justify-content: center;
}
form{
    padding: 1rem;
}
table{
    width: 50%;
}
.userCard{
    width: fit-content;
    margin-left: 20%;
}
.newBtn{
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
#userBtn,#schBtn{
    margin-left: 40%;
}
#schPage{
    text-align: center;
    padding: 2rem;
}
footer{
    margin: 2rem;
    text-align: center;
}
#errMsg{
    text-align: center;
    font-size: large;
}