<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>Welcome to Mr Coffee's schedule website</h1>
        <img src="coffee-planner.jpg" alt="planner picture">
</body>

</html>