<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>Schedule website</h1>
        <h2>Add new Schedule</h2>
        <!-- user form -->
        <form class="row g-3" id="schForm">
            <div class="col-md-6">
                <label for="userId" class="form-label">User Id</label>
                <input type="number" class="form-control" id="userId">
            </div>
            <div class="col-md-6">
                <label for="day" class="form-label">Day</label>
                <input type="number" class="form-control" id="day">
            </div>
            <div class="col-md-6">
                <label for="startT" class="form-label">Start Time</label>
                <input type="time" class="form-control" id="startT">
            </div>
            <div class="col-md-6">
                <label for="endT" class="form-label">End Time</label>
                <input type="Time" class="form-control" id="endT">
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

</body>

</html>