<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>Schedule website</h1>
<!-- table starts here -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User ID</th>
            <th scope="col">Day</th>
            <th scope="col">Start At</th>
            <th scope="col">End At</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>15</td>
            <td>1</td>
            <td>9AM</td>
            <td>6PM</td>
        </tr>
    </tbody>
</table>

<!-- table ends here -->
</body>

</html>