<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Insert Header -->
    <%- include('./partials/header') %> 
    <!-- main -->
    <main>
    <!-- Display users -->
    <h1>Users Table</h1>
    <% for(let i=0; i < users.length;i++){ %>
        <p>
            <strong><%= users[i].firstname %> <%= users[i].lastname %></strong>
        </p>
    <% } %> 
    </main>
    <!-- Insert footer -->
</body>
</html>